*{
   background-color: #282c34;
}

.App {
    text-align: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

